@import 'variables';
@import 'mixins';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $background-color;
  margin: 0;
  padding: 0;

  h1,
  h2 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 20px;

    h2 {
      border: solid 0.5px $border-color;
    }
  }

  .one {
    margin: 15px;
  }

  h3 {
    font-family: 'Poppins', sans-serif;
  }

  p {
    font-family: 'Montserrat', sans-serif;
  }

  pre {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
  }

  .img-container {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
    }
  }

  .hdr {
    margin: 5px;
    @include border-radius(10px);
  }

  header {
    background-image: url('../images/fondo1.png');
    height: $header-height;
    @include border-radius(10px);
  }

  .logo {
    height: 60%;
    margin: 35px;
  }

  .nave {
    background-color: $nav-bg-color;
    font-family: 'Poppins', sans-serif;
    padding: 5px;
    @include border-radius(10px);
  }

  .navbar-nav {
    width: 100%;

    .nav-link {
      flex: 1;
      text-align: left;
    }
  }

  .principal {
    background-image: url('../images/fondo3.png');
    margin: 5px;
    @include border-radius(10px);
  }

  .h11 {
    background-color: #dfdfdf;
    padding: 15px;
    @include border-radius(50px);
    border: solid 0.5px black;
  }

  .h111 {
    margin: 35px;
    border: solid 0.5px rgb(182, 181, 181);
    padding: 15px;
    @include border-radius(10px);
  }

  .rou {
    margin-bottom: 35px;
  }

  .ha3 {
    color: $text-color;
  }

  .sub {
    text-decoration: underline;
  }

  .jover:hover {
    background-color: #525252;
    @include border-radius(20px);
  }

  .fu {
    height: 50px;
  }

  .anrs {
    height: 30px;
  }

  .logosociales {
    margin-bottom: 20px;
  }

  .ro {
    display: flex;
    justify-content: center;
  }

  .tyf {
    margin-bottom: 40px;
  }

  .mx {
    max-width: 400px;
  }

  .boton {
    border: solid 0.5px #34b3ba;
    padding: 20px;
    @include border-radius(50px);
    background-color: $btn-bg-color;
    font-size: 1rem;
    width: 50%;

    &:hover {
      background-color: $btn-hover-bg-color;
      color: white;
    }
  }

  .color {
    background-color: #cceaec;
    width: 70%;
    @include border-radius(30px);

    &:hover {
      background-color: white;
    }
  }

  .borde {
    border: solid 0.5px #123d3f;
    padding: 20px;
    @include border-radius(50px);
  }

  #canvas {
    color: #ea6c03;
  }

  footer {
    .logo-footer {
      display: block;
      margin: auto;
    }

    .bordefuter {
      margin: 5px;
      @include border-radius(10px);
    }
  }

  @keyframes difuminadoANitido {
    from {
      filter: blur(10px);
    }

    to {
      filter: blur(0);
    }
  }

  .logoIndx {
    animation: difuminadoANitido 2s ease-in-out;
  }

  @keyframes nitidoAdifuminado {
    0% {
      opacity: 1;
      filter: blur(0);
    }

    50% {
      opacity: 0.5;
      filter: blur(5px);
    }

    100% {
      opacity: 0;
      filter: blur(10px);
    }
  }

  .logoSmntc {
    animation: nitidoAdifuminado 3s forwards;
  }

  .h11 {
    animation-duration: 3s;
  }

  .text-shadow-pop-top {
    -webkit-animation: text-shadow-pop-top 3s both;
    animation: text-shadow-pop-top 3s both;
  }

  /* ----------------------------------------------
 * Generated by Animista  */


  @-webkit-keyframes text-shadow-pop-top {
    0% {
      text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }

    100% {
      text-shadow: 0 -1px #555555, 0 -2px #555555, 0 -3px #555555, 0 -4px #555555, 0 -5px #555555, 0 -6px #555555, 0 -7px #555555, 0 -8px #555555;
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
  }

  @keyframes text-shadow-pop-top {
    0% {
      text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }

    100% {
      text-shadow: 0 -1px #555555, 0 -2px #555555, 0 -3px #555555, 0 -4px #555555, 0 -5px #555555, 0 -6px #555555, 0 -7px #555555, 0 -8px #555555;
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
  }


  @media (max-width: 768px) {
    .img-container {
      text-align: center;

      img {
        display: block;
        margin: 0 auto;
        width: 70%;
      }
    }

    .video1 {
      max-width: 100%;
      height: auto;
    }

    pre {
      font-size: 0.55rem;
    }

    .frm {
      position: relative;
      width: 100%;
      padding-top: 56.25%;

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}